@import url('base.css');

.image-lumi-filter{
    mix-blend-mode: luminosity;
}

.col-show-off{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.text-container{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 2rem;
}

.text-title{
    font-size: 25pt;
}